/* CSS for user icon dropdown and search button */

/* User icon dropdown */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: -160%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  width: 200px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(10px); /* Initially hidden below */
}

.dropdown-menu.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown-item {
  padding: 12px 20px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-item:hover {
  background: linear-gradient(135deg, #007bff, #00c9ff);
  color: #ffffff;
}

.dropdown-item img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-item:last-child:hover {
  background-color: linear-gradient(135deg, #007bff, #00c9ff);
}

/* Search button */
.search-button {
  display: flex;
  align-items: center;
  background-color: #5e5d5d;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border-radius: 0.25rem; /* Add border radius for button */
}

.search-button:hover {
  background-color: #6b6a6a; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}

.search-icon {
  margin-right: 8px;
}

.btn:hover {
  filter: brightness(80%); /* Reduce brightness on hover */
}

.gradient-bg {
  background-image: linear-gradient(to left, #181717, #585858);
}

  /* Add CSS media queries for responsive design */
@media (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .nav-bar .logo {
    margin-bottom: -1rem;
    margin-right: -20px;
  }

  .nav-bar .flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .nav-bar .flex a {
    margin: 0.5rem 0;
  }

  .main-container {
    padding: 1rem;
  }
  .text-lg  {
    font-size: 12px; /* Adjust font size smaller */
    font-weight: bold; /* Reset font weight */
    
  }
  .btn {
    width: 200px; /* Adjust button width */
    height: 35px; /* Adjust button height */
    font-weight: bold; /* Adjust font size */
    padding:1px;
    text-align: center;
    padding-top: 5px;
   
  }
 
  .btn img {
    width: 50px; /* Adjust icon width */
    height: 15px; /* Adjust icon height */
    margin-right: 8px; /* Adjust icon margin */
  }
 

}
